    <a href='{{ dataValues.url }}' target="_blank"><div class='card'>
        <div class='cardImageDiv'>
          <img src='{{ dataValues.image }}' class='cardImage'>
        </div>
        <div class='cardTextDiv'>
          <p class='cardTitle'>{{ dataValues.title }}</p>
      <p class='cardText'>{{ dataValues.text }}</p>
      </div>
      <div class='source'><img src={{ dataValues.network_logo }} class='userImage'>
     
      <p>{{ dataValues.network_name }}</p></div>
    </div></a>